{% extends 'base.html' %}
{% block content %}
<style>
        .event-image {
            width: 100%;
            height: 400px;
            object-fit: cover;
            border-radius: 10px;
            margin-bottom: 20px;
        }
        .event-info {
            background-color: #f8f9fa;
            padding: 20px;
            border-radius: 10px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
            margin-top: 20px;
        }
        .organizer-info {
            display: flex;
            align-items: center;
            margin-top: 20px;
        }
        .organizer-info img {
            width: 80px;
            height: 80px;
            border-radius: 50%;
            margin-right: 15px;
        }
    </style>
<div class="container mt-5">
    <!-- Картинка мероприятия -->
    {% if event.bg_image %}
    <img src="{{ event.bg_image.url }}" alt="Event Image" class="event-image">
    {% endif %}
    <!-- Блок с информацией о мероприятии -->
    <div class="event-info">
        <h1 class="mb-3">{{ event.title }}</h1>
        <p><strong>Description:</strong> {{ event.description }}</p>

        <div class="row mt-4">
            <div class="col-md-6">
                <p><strong>Location:</strong>{{ event.location }}</p>
                <p><strong>Date:</strong> {{ event.date|date:"F j, Y" }}</p>
                <p><strong>Time:</strong> {{ event.time|date:"H:i"}}</p>
            </div>
            <div class="col-md-6">
                <p><strong>Max Participants:</strong>{{ event.max_participants }}</p>
                <p><strong>Organizer:</strong> {{ event.organizer.username }}</p>
            </div>
        </div>

        <!-- Информация об организаторе -->
        <div class="organizer-info">
            <img src="https://source.unsplash.com/80x80/?organizer" alt="Organizer Image">
            <div>
                <p><strong>Organized by:</strong> {{ event.organizer.first_name }}</p>
                <p><em>Founder & Lead Guide at Nature Tours Inc.</em></p>
            </div>
        </div>
    </div>
</div>
{% endblock %}