<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="{% url 'events:events' %}">События</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'reviews:reviews' %}">Отзывы</a>
        </li>
        {% if is_organizer %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'events:create_event' %}">Создать</a>
        </li>
        {% endif %}
      </ul>
      {% if user.is_authenticated %}

      <div class="dropdown me-3">
          <a href="#" class="d-flex align-items-center text-decoration-none" data-bs-toggle="dropdown" aria-expanded="false">
            <!-- Картинка профиля пользователя -->
            <img
              src="{{ user.userprofile.profile_picture.url }}"
              alt="Фото профиля"
              class="rounded-circle profile-picture"
              width="40" height="40">
          </a>
          <ul class="dropdown-menu dropdown-menu-end">
            <li><a class="dropdown-item" href="{% url 'users:user_profile' request.user %}">Просмотр профиля</a></li>
            <li><a class="dropdown-item" href="">Настройки профиля</a></li>
            <li><a class="dropdown-item" href="">Записи на мероприятия</a></li>
          </ul>
        </div>

        <form action="{% url 'users:logout' %}" method="post">
          {% csrf_token %}
          <button onclick="parentNode.submit();" class="btn btn-outline-primary" type="button">Logout</button>
        </form>

      {% else %}
        <a href="{% url 'users:login' %}"><button class="btn btn-outline-primary" type="button">Login</button></a>
      {% endif %}
    </div>
  </div>
</nav>