<div class="card mb-4 shadow-sm">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h2>{{ event.title }}</h2>
            <span class="badge bg-primary">{{ event.date|date:"d M Y" }}</span>
        </div>

        <div class="card-body">
            <p class="card-text"><strong>Описание события:</strong> {{ event.description|truncatewords:"100" }}</p>
            <p class="card-text"><strong>Место:</strong> {{ event.location }}</p>

            {{ form.as_p }}

            <!-- Участники -->
            <h4 class="mt-4">Записавшиеся участники</h4>
            <ul class="list-group">
                {% for user in event.booking_set.all %}
                    {% if forloop.counter <= 5 %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            {{ user.user.first_name }}
                            <span class="badge bg-success">{{ user.user.email }}</span>
                        </li>
                    {% elif forloop.counter == 6 %}
                        <li class="list-group-item text-center text-muted"> <a href="" class="link-body-emphasis link-offset-2 link-offset-3-hover link-underline link-underline-opacity-0">Еще...</a></li>
                    {% endif %}
                {% empty %}
                <li class="list-group-item text-muted">Пока что участников нет</li>
                {% endfor %}
            </ul>




{% comment %}
            <!-- Отзывы -->
            <h4 class="mt-4">Отзывы</h4>
            {% for review in event.review_set.all %}
            <div class="review-section border rounded p-3 mb-3">
                <div class="d-flex justify-content-between align-items-center">
                    <h5>{{ review.user }} <span class="text-warning">{{ review.rating }} ★</span></h5>
                    <p class="text-muted"><small>Оставлен: {{ review.created_at|date:"d M Y, H:i" }}</small></p>
                </div>
                <p>{{ review.comment }}</p>

                <!-- Публикация отзыва -->
                <div class="d-flex justify-content-end">
                    {% if not review.is_published %}
                    <form method="post" action="">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-outline-primary btn-sm">Опубликовать</button>
                    </form>
                    {% else %}
                    <span class="text-success">Отзыв опубликован</span>
                    {% endif %}
                </div>
            </div>
            {% empty %}
            <p class="text-muted">Отзывов пока нет</p>
            {% endfor %}
            {% endcomment %}
            <div class="text-end">
                <a href="{% url 'users:organizers:info_card' event.pk %}"><button class="btn btn-primary mt-3">Подробнее</button></a>
            </div>
        </div>
    </div>