{% extends 'base.html' %}
{% load static %}
{% block content %}
<style>
    .event-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .profile-picture-comment {
    width: 50px; /* Задайте нужный размер изображения */
    height: 50px;
    object-fit: cover; /* Изображение будет адаптироваться по размеру */
    border-radius: 50%; /* Делает изображение круглым */
}
</style>
<h2 class="text-center">Отзывы участников "{{ event.title }}"</h2>
{% include 'review/includes/review_detail_comment.html' %}

    {% if access %}

    <!-- Форма для добавления отзыва -->
    <div class="mb-4 info-block">
        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Кнопка отправки -->
                <button type="submit" class="btn btn-primary">Отправить отзыв</button>
            </form>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
