{% extends 'base.html' %}
{% block content %}
<style>

    .event-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    .profile-picture-comment {
    width: 50px; /* Задайте нужный размер изображения */
    height: 50px;
    object-fit: cover; /* Изображение будет адаптироваться по размеру */
    border-radius: 50%; /* Делает изображение круглым */

</style>


<div class="container">
    <h2 class="text-center">Все отзывы</h2>
    {% include 'review/includes/review_detail_comment.html' %}
    {% for review in reviews %}


    {% empty %}
    <h2 class="text-center">Отзывов пока что нет</h2>
 {% endfor %}
</div>
{% endblock %}
