{% extends 'base.html' %}
{% block content %}
<style>
    .event-header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>


<div class="container">
    <h2 class="text-center">Отзывы участников "{{ event.title }}"</h2>
    {% for review in event_review %}
    <div class="info-block">

        <div class="event-header">
            <h2>{{ review.event }} <span class="text-warning">{{ review.rating }} ★</span></h2>
            <h5>{{ review.user.first_name }} </h5>
        </div>

        <p class="mt-3">{{ review.comment }}</p>
       <p class="text-muted mb-0"><small>Отзыв оставлен {{ review.created_at|date:"d M Y, H:i" }}</small></p>
    </div>
    {% empty %}
    <h2 class="text-center">Отзывов пока что нет</h2>
 {% endfor %}
    {% if access %}
<!-- Заголовок страницы -->
    <h2 class="mb-4">Отзывы о "{{ event.title }}"</h2>

    <!-- Форма для добавления отзыва -->

    <div class="mb-4 info-block">

        <div class="card-body">
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <!-- Кнопка отправки -->
                <button type="submit" class="btn btn-primary">Отправить отзыв</button>
            </form>
        </div>
    </div>
{% endif %}
</div>
{% endblock %}
