{% extends 'base.html' %}
{% block content %}
<style>
    .profile-pic-container {
        position: relative;
        width: 150px;
        height: 150px;
        margin: 0 auto;
    }

    .profile-pic-container img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        cursor: pointer;
        object-fit: cover;
    }

    .overlay-text {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 50%;
        background: rgba(0, 0, 0, 0.5);
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 16px;
        opacity: 0;
        transition: opacity 0.3s;
    }

    .profile-pic-container:hover .overlay-text {
        opacity: 1;
    }

    #profile_picture {
        display: none;
    }
</style>

<div class="container mt-5">
    <div class="row justify-content-center">
        <!-- Форма редактирования профиля -->
        <div class="col-md-8">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="card shadow-sm p-4 mb-4">
                    <h4 class="text-center">Редактировать профиль</h4>



                    <!-- Блок с фотографией профиля и именем -->
                    <div class="text-center mb-4">
                        <div class="profile-pic-container">
                            <img id="profileImagePreview"
                                 src="{{ user.userprofile.profile_picture.url }}"
                                 alt="Profile Picture">
                            <div class="overlay-text" onclick="document.getElementById('profile_picture').click();">Загрузить новую</div>
                        </div>
                        <input type="file" id="profile_picture" name="profile_picture" accept="image/*" style="display: none;"
                               onchange="previewImage(event)"> <!-- Добавлено событие onchange -->

                        <h5 class="mt-3">{{ user.userprofile.first_name }} {{ user.last_name }}</h5>
                        <p class="text-muted">@{{ user.username }}</p>
                    </div>


                    {% if user_form.errors or user_profile_form.errors %}
        <div class="container d-flex align-items-center justify-content-center">
            <div class="alert alert-warning alert-dismissible fade show w-50  d-block" role="alert">
                {% for key, value in user_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
                {% for key, value in user_profile_form.errors.items %}
                    <strong>{{ value }}</strong>
                {% endfor %}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        </div>
    {% endif %}


                    <!-- Поля формы редактирования -->
                    <div class="mb-3">
                        <label class="form-label">Имя:</label>
                        {{ user_form.first_name }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Фамилия:</label>
                        {{ user_form.last_name }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">E-mail:</label>
                        {{ user_profile_form.email }}
                    </div>
                    <div class="mb-3">
                        <label class="form-label">О себе:</label>
                        {{ user_profile_form.bio }}
                    </div>
                    <div class="d-flex justify-content-between mt-4">
                         <button type="submit" class="btn btn-primary">Сохранить изменения</button>
                        <a href="{% url 'users:delete_profile' %}"
                           class="btn btn-outline-danger">Удалить профиль
                        </a>
                        <a href="{% url 'users:user_profile' request.user %}" class="btn btn-outline-secondary">Отмена</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function previewImage(event) {
        var reader = new FileReader();
        reader.onload = function(){
            var output = document.getElementById('profileImagePreview');
            output.src = reader.result;
        };
        reader.readAsDataURL(event.target.files[0]);
    }
</script>
{% endblock %}
